include *.in
include *.lock
include *.py
include *.rst
include LICENSE
include Pipfile
include tox.ini
recursive-include django_markup *.html
recursive-include django_markup *.txt
recursive-include docs *.css
recursive-include docs *.py
recursive-include docs *.rst
