[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-markup = {editable = true,extras = ["all_filter_dependencies"],path = "."}

[dev-packages]
isort = "*"
black = "*"
coverage = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
wheel = "*"
setuptools = "*"

[scripts]
cleanup = "sh -c 'ruff --fix --exit-zero django_markup && black django_markup'"
test = "pytest"

[pipenv]
allow_prereleases = true
