[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-markup = {editable = true,extras = ["all_filter_dependencies"],path = "."}

[dev-packages]
isort = "*"
black = "*"
coverage = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
wheel = "*"
setuptools = "*"

[scripts]
cleanup = "sh -c \"black --exclude='/(migrations)/' django_markup && isort django_markup\""
test = "sh -c \"coverage erase && pytest && coverage html && echo Coverage report in /tmp/coverage_report/django-markup/index.html\""

[pipenv]
allow_prereleases = true
