# -----------------------------------------------------------------------------
# These requirements are only required for local testing or development.
# To use django-markup it's enough to install the package, and only the
# necessary packages of each of your used filter.
# -----------------------------------------------------------------------------

# General dependencies
django==1.9.2
six

# Filter Dependencies
textile==2.2.2
smartypants==1.8.6
docutils==0.12
pygments==2.1
markdown==2.6.5
creole==1.2
